{% extends 'index.html' %}

{% block lang %}
{{ lang }}
{% endblock %}

{% block logo %}
<a href="{{ home }}/">
    <img class="logo pull-left" width="50px" src="http://api.yandex.com/money/money1.png" alt="">
</a>
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="{{ home }}/">Home</a></li>
  <li class="active">Wallet</li>
</ol>
{% endblock %}

{% block result %}
<h2>API Methods</h2>

{% for method in methods %}
<h2 class="panel-title">{{ method.name }} </h2>
<p> {{ method.info }}</p>
{% if method.is_error %}
<div class="alert alert-danger" role="alert"><strong>Error! </strong>{{ method.message }}</div>
{% else %}
    {% for panel in method.includes %} 
          {% include 'helpers/panel_source.html' %}
    {% endfor %}
{% endif %}
{% endfor %}
    
{% endblock %}
