{% extends 'index.html' %}

{% block lang %}
{{ lang }}
{% endblock %}

{% block logo %}
<a href="{{ home }}">
    <img class="logo pull-left" width="50px" src="http://api.yandex.com/money/money1.png" alt="">
</a>
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="{{ home }}">Home</a></li>
  <li class="active">External payment</li>
</ol>
{% endblock %}

{% block result %}

<h3>Payment result</h3>
<p>
    The status of payment is <code>{{ payment_result.status }}</code>.
    {% if payment_result.status == "success" and payment_result.invoice_id %}
        Invoice id is <code>{{ payment_result.invoice_id }}</code>
    {% endif %}
</p>

How it works?
<h3>Step 1. Obtain <code>instance_id</code> and init <code>ExternalPayment</code> API</h3>

{% for panel in panels.instance_id %}
{% include 'helpers/panel_source.html' %}
{% endfor %}

<h3>Step 2. Make request payment and save <code>request_id</code></h3>

{% for panel in panels.request_payment %}
{% include 'helpers/panel_source.html' %}
{% endfor %}

<h3>Step 3. Call process payment and redirect user to Yandex.Money url</h3>

Make sure <code>/external-success/</code> and <code>/external-fail/</code> paths are present in your app.

{% for panel in panels.process_payment1 %}
{% include 'helpers/panel_source.html' %}
{% endfor %}

<h3>Step 4. Repeat <code>process payment</code> for status checking</h3>

{% for panel in panels.process_payment2 %}
{% include 'helpers/panel_source.html' %}
{% endfor %}

{% endblock %}
