{% extends 'index.html' %}

{% block logo %}
<a href="../">
    <img class="logo pull-left" width="50px" src="http://api.yandex.com/money/money1.png" alt="">
</a>
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="../">Home</a></li>
  <li class="active">Error</li>
</ol>
{% endblock %}

{% block result %}
    Something went wrong. The response is 
    <pre><code class="json">{{ response|json_encode(json_format_options) }}</code></pre>

    Check your input and <a href="../">repeat request</a>

{% endblock %}
